.panel-body
  .col-sm-12
    .col-sm-8
      %br/
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          %br/
          = f.text_field :username, autofocus:true, placeholder: 'username', class: "form-control"
        .field
          %br/
          = f.email_field :email, placeholder: 'email', class: "form-control"
        .field
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, placeholder: 'password', autocomplete: "off", class: "form-control"
        .field
          %br/
          = f.password_field :password_confirmation, placeholder: 'password confirmation', autocomplete: "off", class: "form-control"
        %br/
        .actions
          %center{style: "width: 28%;"}
            = f.submit "Sign up", class: "btn btn-primary"
    .col-sm-4.signup-links
      %a Create Watch List
      %br/
      %a Post Ideas
      %br/
      %a Get Answers
      %br/
      %a Build Communities
%br/
%br/
- Post.all.map do |post|
  = render partial: '/pages/post', locals: { post: post }
