= render '/layouts/nav'
.col-sm-12
  .col-sm-6
  .col-sm-4
    %span.notice= notice
    %span.alert= alert
.search-background
  .col-sm-12
    .col-sm-9
      = form_tag(controller: '/posts' , action: :search) do
        %i.search-field-icon.fa.fa-search.fa-lg
        = text_field_tag :search_field, nil,placeholder: 'Symbol or @username'
    .col-md-3.display-inline
      &nbsp;&nbsp;&nbsp;
      - if @coin_percentages['BTC'] < 0
        .divider.red
          |
        %span.value
          BTC
          %br/
          %i.fa.fa-sort-down.fa-sm.red
          = @coin_percentages['BTC'].abs
      - else
        .divider.green
          |
        %span.value
          BTC
          %br/
          %i.fa.fa-sort-up.fa-sm.green
          = @coin_percentages['BTC']

      -# ETH
      &nbsp;&nbsp;&nbsp;
      - if @coin_percentages['ETH'] < 0
        .divider.red
          |
        %span.value
          ETH
          %br/
          %i.fa.fa-sort-down.fa-sm.red
          = @coin_percentages['ETH'].abs
      - else
        .divider.green
          |
        %span.value
          ETH
          %br/
          %i.fa.fa-sort-up.fa-sm.green
          = @coin_percentages['ETH']

      -# LTC
      &nbsp;&nbsp;&nbsp;
      - if @coin_percentages['LTC'] < 0
        .divider.red
          |
        %span.value
          LTC
          %br/
          %i.fa.fa-sort-down.fa-sm.red
          = @coin_percentages['LTC'].abs
      - else
        .divider.green
          |
        %span.value
          LTC
          %br/
          %i.fa.fa-sort-up.fa-sm.green
          = @coin_percentages['LTC']

  %br/
  %br/
  %br/
  %center
    .add
      Advertisement Banner

-# Container Starts Here !!!!!!! -------------------------------------------------------------------

.container
  .col-sm-12
    .col-sm-3
      .panel-body
        %h5{:style => "color: #181515; font-weight: bold;"}
          %i.fa.fa-chart-line.green{:style => "color: grey;"}
          Whats Trending Hot
        - Tag.all.order('post_count desc').in_groups_of(3) do |group|
          - group.compact.each do |t|
            %span.trending-tags
              %b{:style => "color: grey; font-size: 2rem"}
                |
              = t.name.upcase
          %br/
      .panel-body
        %h5{:style => "color: #181515; font-weight: bold;"}
          My Watchlists
        .div{:style => "font-size: 90%;"}
          Sign Up to Coin Cobbler to save a watchlist for easy access to your
          favorite stocks
        %span.display-inline
          .signup
            %button= link_to('Sign Up', new_user_registration_path)
          .login-panel
            &nbsp;
            = link_to('OR Login', new_user_session_path)
    .col-sm-6
      .panel-body.white-pannel
        .col-sm-12
          .col-sm-8
            %br/
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              = devise_error_messages!
              .field
                %br/
                = f.text_field :username, autofocus:true, placeholder: 'username', class: "form-control"
              .field
                %br/
                = f.email_field :email, placeholder: 'email', class: "form-control"
              .field
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} characters minimum)
                %br/
                = f.password_field :password, placeholder: 'password', autocomplete: "off", class: "form-control"
              .field
                %br/
                = f.password_field :password_confirmation, placeholder: 'password confirmation', autocomplete: "off", class: "form-control"
              %br/
              .actions
                %center{style: "width: 28%;"}
                  = f.submit "Sign up", class: "btn btn-primary"
          .col-sm-4.signup-links
            %a Create Watch List
            %br/
            %a Post Ideas
            %br/
            %a Get Answers
            %br/
            %a Build Communities
      %br/
      %br/
      - Post.all.map do |post|
        .panel.panel-default.post-panel
          .panel-body.row
            .col-sm-1
              %img.rounded-img{:height => "50px", :src => "#{post.user.avatar.url}", :width => "50px"}/
            .col-sm-11
              %p.post-title
                %span.post-owner
                  %a{:href => "/user/#{User.find(post.user_id).username}"}= User.find(post.user_id).username
                %span.post-creation
                  \- #{post.created_at.to_formatted_s(:short)}
              %p.post-content= putter(post).html_safe
            .col-sm-12
              %p.post-links
                %span.glyphicon.glyphicon-comment.g-links{"aria-hidden" => "true"}
                %span.glyphicon.glyphicon-retweet.g-links{"aria-hidden" => "true"}
                %span.glyphicon.glyphicon-heart.g-links{"aria-hidden" => "true"}
                %span.glyphicon.glyphicon-option-horizontal.g-links{"aria-hidden" => "true"}

    .col-sm-3
      .add-sidebar
        Advertisment Banner
