!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Coin Cobbler
    = favicon_link_tag asset_path('faviconxyz.ico'), :rel => 'icon', :type => "image/x-icon"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css", :rel => "stylesheet"}/
    %script{:src => "//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"}

  %body
    = render '/layouts/nav'
    - if params[:id] != nil
      - @url = '/user/' + params[:id]
      - user_param = User.find_by_username(params[:id])
      - if current_page?(@url)
        .container
          .row
            .col-sm-12{:style => "background-color: white;"}
              .container
                .col-sm-3  
                .col-sm-6{:style => "margin-top: 5px"}
                  .col-sm-2{:style => "font-size: 100%; opacity: 0.7;"}
                    POSTS
                    %br/
                    %h6{:style => "color: #0084B4; font-size: 150%;"}= user_param.posts.count
                  .col-sm-2{:style => "font-size: 100%; opacity: 0.7;"}
                    FOLLOWERS
                    %br/
                    %h6{:style => "color: #0084B4; font-size: 150%;"}= user_param.followers.count
                  - if current_user.username == params[:id]
                    .col-sm-8{:style => "text-align: right; margin-top: 5px;"}
                      %a{:href => "/users/edit"}
                        %li.btn.btn-default{:style => "color: grey; opacity: 0.8; font-weight: bold;", :type => "button"} EDIT PROFILE
                  - else
                    - if current_user.following?(User.find_by(username: params[:id]))
                      .col-sm-8{:style => "text-align: right; margin-top: 5px;"}
                        = link_to 'Unfollow', relationship_path(id: User.find_by(username: params[:id]).id), method: :delete, class: "btn btn-default"
                    - else
                      .col-sm-8{:style => "text-align: right; margin-top: 5px;"}
                        = link_to 'Follow', relationships_path(followed_id: User.find_by(username: params[:id]).id), :method => :post, class: "btn btn-primary"

    - if !current_user
      .col-sm-12{style: 'background-color: #36405F;'}
        .col-sm-5
        %span.notice= notice
        %span.alert= alert
      = stylesheet_link_tag 'guest_user_layout', media: 'all', 'data-turbolinks-track' => true
      - coin_percentages = coin_24h_volume_and_price
      .search-background
        .col-md-12
          .col-md-9
            .col-sm-12
              = form_tag(controller: '/posts' , action: :search) do
                %i.search-field-icon.fa.fa-search.fa-lg
                = text_field_tag :search_field, nil,placeholder: 'Symbol or @username', class: 'home_page_search'
          .col-md-3.display-inline
            &nbsp;&nbsp;&nbsp;
            - if coin_percentages['BTC'][:volume] < 0
              .divider.red
                |
              %a{href: "/coins?type=btc"}
                %span.value
                  BTC
                  %br/
                  %i.fa.fa-sort-down.fa-sm.red
                  = coin_percentages['BTC'][:volume].abs
                  = '%'
            - else
              .divider.green
                |
              %a{href: "/coins?type=btc"}
                %span.value
                  BTC
                  %br/
                  %i.fa.fa-sort-up.fa-sm.green
                  = coin_percentages['BTC'][:volume]
                  = '%'

            -# ETH
            &nbsp;&nbsp;&nbsp;
            - if coin_percentages['ETH'][:volume] < 0
              .divider.red
                |
              %a{href: "/coins?type=eth"}
                %span.value
                  ETH
                  %br/
                  %i.fa.fa-sort-down.fa-sm.red
                  = coin_percentages['ETH'][:volume].abs
                  = '%'
            - else
              .divider.green
                |
              %a{href: "/coins?type=eth"}
                %span.value
                  ETH
                  %br/
                  %i.fa.fa-sort-up.fa-sm.green
                  = coin_percentages['ETH'][:volume]
                  = '%'
            -# LTC
            &nbsp;&nbsp;&nbsp;
            - if coin_percentages['LTC'][:volume] < 0
              .divider.red
                |
              %a{href: "/coins?type=ltc"}
                %span.value
                  LTC
                  %br/
                  %i.fa.fa-sort-down.fa-sm.red
                  = coin_percentages['LTC'][:volume].abs
                  = '%'
            - else
              .divider.green
                |
              %a{href: "/coins?type=ltc"}
                %span.value
                  LTC
                  %br/
                  %i.fa.fa-sort-up.fa-sm.green
                  = coin_percentages['LTC'][:volume]
                  = '%'
        %center.col-md-12
          .add
            Advertisement Banner

      .slider
        - Post.present_values_actual.each do |value|
          .ticker__item
            %span
              = link_to image_tag("#{value.downcase}.png"), "/coins?type=#{value}", style: "width:30px; height:30px;"
              &nbsp;
              = value
              %text.text-medium
                = coin_percentages[value][:price]
              - if coin_percentages[value][:volume] < 0
                %i.fa.fa-sort-down.fa-sm.red
                %text.text-small
                  = coin_percentages[value][:volume].abs
                  = '%'
              - else
                %i.fa.fa-sort-up.fa-sm.green
                %text.text-small
                  = coin_percentages[value][:volume]
                  = '%'

      -# Side Bars Start Here --------------------
      .container
        .col-md-12
          .col-md-3
            .panel-body
              %h5{:style => "color: #181515; font-weight: bold;"}
                %i.fa.fa-chart-line.green{:style => "color: grey;"}
                Whats Trending Hot
              - Tag.all.order('post_count desc').in_groups_of(3) do |group|
                - group.compact.each do |t|
                  %a{href: "/coins?type=#{t.name}"}
                    %span.trending-tags
                      %b{:style => "color: grey; font-size: 2rem"}
                        |
                      = t.name.upcase
                %br/
            .panel-body
              %h5{:style => "color: #181515; font-weight: bold;"}
                My Watchlists
              .div{:style => "font-size: 90%;"}
                Sign Up to Coin Cobbler to save a watchlist for easy access to your
                favorite coins
              %span.display-inline
                .signup
                  %button= link_to('Sign Up', new_user_registration_path)
                .login-panel
                  &nbsp;
                  = link_to('OR Login', new_user_session_path)
          .col-md-6.white-pannel
            = yield
          .col-md-3
            .add-sidebar
              Advertisment Banner
    - else
      .col-sm-12
        .col-sm-5
        %span.notice= notice
        %span.alert= alert
      .container
        .col-md-12
          .col-md-3
            .panel.panel-default
              .panel-footer
                .row
                  - if user_param
                    .col-sm-2
                      %img.rounded-img.home-avatar{:height => "50px", :src => "#{user_param.avatar.url(:thumb)}", :width => "50px"}/
                    .col-sm-10
                      %h4{:style => "text-align: center;"}= user_param.username
                    .col-sm-12{:style => "margin-top: 10px;"}
                      .col-sm-6{:style => "font-size: 80%; opacity: 0.7;"}
                        POSTS
                        %br/
                        %h6{:style => "color: #0084B4; font-size: 200%;"}= user_param.posts.count
                      .col-sm-6{:style => "font-size: 80%; opacity: 0.7;"}
                        FOLLOWERS
                        %br/
                        %h6{:style => "color: #0084B4; font-size: 200%;"}= user_param.followers.count

                  - else
                    .col-sm-2
                      %img.rounded-img.home-avatar{:height => "50px", :src => "#{current_user.avatar.url(:thumb)}", :width => "50px"}/
                    .col-sm-10
                      %h4{:style => "text-align: center;"}= current_user.username
                    .col-sm-12{:style => "margin-top: 10px;"}
                      .col-sm-6{:style => "font-size: 80%; opacity: 0.7;"}
                        POSTS
                        %br/
                        %h6{:style => "color: #0084B4; font-size: 200%;"}= current_user.posts.count
                      .col-sm-6{:style => "font-size: 80%; opacity: 0.7;"}
                        FOLLOWERS
                        %br/
                        %h6{:style => "color: #0084B4; font-size: 200%;"}= current_user.followers.count

            .panel.panel-default
              .panel-body
                %h5{:style => "color: grey; font-size: 125%;"} Trends
                - Tag.all.order('post_count desc').each do |t|
                  %a{href: "/coins?type=#{t.name.downcase}"}
                    $
                    = t.name
                  / %br/
                  / %span{:style => "color: grey;"}
                  /   = t.post_count
                  /   Posts
                  %br/
                  %br/

          .col-md-7
            = yield
          .col-md-2
            .panel.panel-default
              .panel-body
                %h5{:style => "color: grey; font-size: 125%;"} Who to follow
                - User.where.not(id: current_user.id).last(5).each do |u|
                  %p{:style => "font-weight: bold; opacity: 0.85;"}
                    %a{:href => "/user/#{u.username}"}= u.username
            .panel.panel-default
              .panel-body
                %center
                  %p{:style => "opacity: 0.5; font-size: 90%;"} © 2018 Coin Cobbler
                  -# About  Help  Terms  Privacy  Cookies  Ads Info  Brand  Blog  Status  Apps  Jobs  Advertise  Businesses  Media  Developers
                  %a{:href => "/privacy_policy", style: "opacity: 0.9; font-size: 100%; text-decoration: none;", target: "_blank"}
                    Privacy Policy
