!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Coin Cobbler
    = favicon_link_tag asset_path('faviconxyz.ico'), :rel => 'icon', :type => "image/x-icon"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    -# = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'index_layout', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.index_layout
    = yield

:css
  .actions .btn-primary {
    border-radius: 17px;
    background-color: #00B0FF;
    border: none;
  }
  .add-sidebar {
    background-color: white;
    color: grey;
    margin-top: 3rem;
    height: 20rem;
    text-align: center;
  }
  .signup-links {
    margin-top: 7rem;
    padding-right: 0px;
  }
  .signup-links a {
    color: #3d3737;
    text-decoration: none;
    font-weight: bold;
  }
  .trending-tags {
    color: black;
    padding-right: 1rem;
  }
  .red {
    color: red;
  }
  .green {
    color: green;
  }
  .value {
    padding: 0.3rem;
  }

  .display-inline {
    display: inline-flex;
  }
  .divider {
    font-size: 3rem;
    font-weight: bold;
  }
  .add {
    width: 50%;
    background-color: white;
    color: grey;
    margin-top: 3rem;
    height: 8rem;
  }
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .search-background {
    color: white;
    background-color: #36405F;
    height: 17rem;
  }
  .search-field-icon {
    padding-left: 1rem;
    color: #bdbec2;
    font-size: 1.75rem;
    position: absolute;
    line-height: 38px;
    text-decoration: none;
  }

  .search-background form {
    margin-left: 5rem;
  }

  input {
    outline: none;
    border: none;
    border-radius: 20px;
    height: 38px;
    width: 100%;
    color: grey;
    padding-left: 3.2rem;
  }
  body {
      -webkit-background-size: cover;
      -moz-background-size: cover; /* cover the whole html element. */
      -o-background-size: cover;
      background-size: cover;
  }
  h1 {
      color: white;
      font-weight: bold;
  }

